body{
  font-family: 'Open Sans Condensed', sans-serif;

}

footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#navbar{
  background-color: rgba(30,87,153, .70) ;
}

#search{
  color: white;
}

.jumbotron
{
  background-image:url("../images/view.jpg");
  background-position: center;
  background-size: cover;
}

#employeeTable{
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}

#log_in{
  width: 20%;
  background-color: rgba(255, 255, 255, .50);
  padding: 2%;
}

.card{
  opacity: .90;
}

#container{
  background-color: rgba(30,87,153, .70) ;
}
