body{
  font-family: 'Open Sans Condensed', sans-serif;
  background-color:rgba(117, 165, 229, .80);
}

footer{
  text-align: center;
  color: rgba(255, 255, 255, .70);
  width: 100%;
}

#navbar{
  background-color: rgba(30,87,153, .70) ;
}

#search{
  color: white;
}

.jumbotron
{
  background-image:url("../images/view.jpg");
  background-position: center;
  background-size: cover;
}

#employeeTable{
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(255, 255, 255, .70);
  padding: 8%;
  border-radius: 5px;
}

#list{
  background-image: url("../images/cades_cove.jpg");
  background-position: center;
  background-size: cover;
}

#new{
  background-image: url("../images/gsmnp.jpg");
  background-position: center;
  background-size: cover;

}

#log_in{
  width: 20%;
  background-color: rgba(255, 255, 255, .50);
  padding: 2%;
}

.card{
  opacity: .90;
}

#csrf{
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .70);
  padding: 5%;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 5px;
}

#csrf h2{
  font-size:1em;
}
