<!DOCTYPE html>

<html lang="en">

<!--
Title: Assignment 5.4
Author: Kimberly Pierce
Date: 18  March 2020
Modified By: Kimberly Pierce
Description: EMS
-->


<%- include ("header") %>

<body>

<%- include ("navbar") %>



<%- include ("footer") %>

</body>

</html>
