<!DOCTYPE html>

<html lang="en">

<!--
Title: Assignment 5.4
Author: Kimberly Pierce
Date: 18  March 2020
Modified By: Kimberly Pierce
Description: EMS
-->


<%- include ("header") %>

<body>

<%- include ("navbar") %>


<div id="container">

  <div class="jumbotron" >
    <h1 class="display-4">Welcome!</h1>

    <p class="lead"></p>
    <hr class="my-4">
    <h2>EMS Employee Management System</h2>

  </div>



<%- include ("footer") %>

</div>

</body>

</html>
