<!DOCTYPE html>

<html lang="en">

<!--
Title: Assignment 5.4
Author: Kimberly Pierce
Date: 18  March 2020
Modified By: Kimberly Pierce
Description: EMS
-->


<%- include ("header") %>

<body id="list">


<%- include ("navbar") %>

<div id="employeeTable">

<% if(employees.length){%>
  <h2>Employee List</h2><br>
  <a href="/new">Add New</a>
<table class="table table-striped table-inverse table-responsive ">
  <thead class="thead-inverse">
    <tr>
      <th>Employee Name</th>
    </tr>
    </thead>
    <tbody>
      <% employees.forEach(function(entry){%>
      <tr>
        <td scope="row"><%= entry.name %></td>
      </tr>
    </tbody>
    <%})%>
</table>
    <%} else{%>
    No Entries <br><a href="/new">Add New</a>
    <%}%>

</div>
<%- include ("footer") %>

</body>

</html>
