<!DOCTYPE html>

<html lang="en">

<!--
Title: Assignment 5.4
Author: Kimberly Pierce
Date: 18  March 2020
Modified By: Kimberly Pierce
Description: EMS
-->


<%- include ("header") %>

<body id="view">

<%- include ("navbar") %>

<div role="main" class="container" >
  <br>

  <div class="form-group" id="viewlist">
    <h2>Employee Details</h2>
    <br>
    <label for="employeeName">Name: </label>
    <input type="text" name="employeeName" id="employeeName" class="form-control"  value="<%= employee[0].name %>">
    <br>
    <a href="/list">Return to Employee List</a>
  </div>

</div>

<%- include ("footer") %>

</body>

</html>
